// Nova paleta de cores
$primary: #4f67b1;
$primary-2: #96ADD5;
$primary-o: #4f67b1bb;
$base: #6c757d;
$secondary: #d9d9d9;
$white: #EAE4D7;
$red: #a61c1c;

// Shades (Escuro)
$primary-s1: #455ca1;
$primary-s2: #3b518f;
$primary-s3: #32467e;
$primary-s1-o: #455ca1bb;
$primary-s2-o: #3b518fbb;
$primary-s3-o: #32467ebb;
$base-s1: #606a71;
$base-s2: #545e65;
$base-s3: #495359;

// Tints (Claro)
$blue-s1: #96add6;
$secondary-s1: #e6c2a7;
$secondary-s2: #ccae95;
$secondary-s3: #b39a83;

// Variáveis simplificadas (sem '#')
$Sprimary: 4f67b1;
$Sprimary-s1: 455ca1;
$Sprimary-s2: 3b518f;
$Sprimary-s3: 32467e;
$Sprimary-o: 4f67b1bb;
$Sprimary-s1-o: 455ca1bb;
$Sprimary-s2-o: 3b518fbb;
$Sprimary-s3-o: 32467ebb;

$dark: #6c757d;

@font-face {
    font-family: 'MyFont'; // Nome da fonte que será usado no CSS
    // src: url('../src/assets/fonts/Articulatcf-light.otf') format('truetype'); // Caminho relativo à pasta SCSS
    src: url('/src/assets/fonts/Articulatcf-light.otf') format('truetype'); // Caminho relativo à pasta SCSS
    font-weight: normal;
    font-style: normal;
  }
  

header{
    // background-color: $Sprimary;
}


body{
    background-color: $primary;
    // background-image: linear-gradient(to top, rgba($primary, .7), rgba($primary, 0.2)), url('/src/assets/images/lamp_wide.png');
    // background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url('./assets/images/bg.jpg');
    color: $secondary;

    #background{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: $primary;
        background-image: linear-gradient(to top, rgba($primary, .7), rgba($primary, 0.2)), url('/src/assets/images/lamp_wide.png');
        background-repeat: round;
        transition: filter 0.3s ease-in-out;

        @media (max-width: 968px) {
            background-repeat: no-repeat;
            background-position: 75% 0;
        }
    }

    span{
        color: $secondary;
    }

    a{
        color: $secondary;
    }

    h2{
        // font-family: 'MyFont', sans-serif;
        color: $secondary;
    }

    .features article {
        background-color: $primary-s2;
    }

    #wpp{
        position: absolute;
        right: 30px;
        bottom: -90vh;
        font-size: 3rem;
        border: none;
        background-color: $secondary;
        padding: 5px 13px;
        border-radius: 100%;
        color: $primary;
        aspect-ratio: 1;
        align-content: center;
        opacity: .8;
    }

    #menu .inner{
        background: rgba($color: $primary, $alpha: .95);
    }
    
    .opacity{
        opacity: 0.8;
    }

    #banner{
        height: 100vh;
        max-height: 800px;

        .inner{
            display: flex;
            gap: 5rem;

            @media screen and (max-width: 968px) {
                flex-direction: column;
                gap: 2rem;
                text-align: center;
            }
        }

        .logo {
            display: flex;
            justify-content: start;
            opacity: .8;

            > img{
                width: 30vw; 
                margin: 50px 0;
            }
        }

        .title{
            align-content: center;
        }
        

        @media screen and (max-width: 968px) {
            .logo {
            justify-content: center;


                >  img{
                    width: 50vw;
                }
            }
        }
    }

    section#one{
        background-color: $primary;
        padding-top: 3rem;
        margin-bottom: 0;

        &:before{
            box-shadow: inset 0 -1px 0 0 $primary, 0 1px 0 0 $primary;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary, 0 1px 0 0 $primary;
            background-image: none;
        }

        .inner{
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 3rem;

            @media (max-width: 968px) {
                flex-direction: column;
            }

            .major{
                font-size: 1.7rem;
                margin-bottom: .5rem;
                padding-bottom: 0;

            }
        }

        .motivo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

        >div{
                border-radius: 5px;
                width: 100%;
                // height: 150px;
                background-color: rgba(17, 25, 40, 0.2);
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.125);
                z-index: 2;
                display: flex;
                padding: 1.5rem;

                i{
                    font-size: 3rem;
                    color: $secondary;
                    margin-right: 1rem;
                }

                h4{
                    font-size: 1.2rem;
                    line-height: 1.3;
                }

                p{
                    line-height: 1.1;
                    margin: 0;
                }
            }
        }

        .bg-video{
            overflow: hidden;
            position: relative;
            background: linear-gradient(180deg, #4f67b1, #4f67b122, );
            // background: #4f67b144;

            iframe{
                position: relative;
                aspect-ratio: 2/1;
                width: 120%;
                left: -10%;
                bottom: -10px;
                z-index: -1;
                pointer-events: none;
                mix-blend-mode: luminosity;
            }
        }
    }

    section#two{
        background-color: $primary-s1;
        margin-bottom: 0;
        z-index: 2;
        margin-top: 0;
        padding-top: 3rem;

        &:before{
            box-shadow: none;
            background-image: none;
        }
    
        &:after{
            box-shadow: none;
            background-image: none;
            // box-shadow: inset 0 -1px 0 0 $primary-s1, 0 1px 0 0 $primary-s1;
            // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s1}%3B' /%3E%3C/svg%3E");
        }
    }

    section#three{
        background-color: $primary-s1;
        margin-top: 0;
        z-index: 2;

        &:before{
            box-shadow: none;
            background-image: none;
            // box-shadow: inset 0 -1px 0 0 $primary-s1, 0 1px 0 0 $primary-s1;
            // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s1}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary-s1, 0 1px 0 0 $primary-s1;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s1}%3B' /%3E%3C/svg%3E");
        }
    }

    section#four{
        background-color: $primary-s3;
        &:before{
            box-shadow: inset 0 -1px 0 0 $primary-s3, 0 1px 0 0 $primary-s3;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s3}%3B' /%3E%3C/svg%3E");
        }
    
        &:after{
            box-shadow: inset 0 -1px 0 0 $primary-s3, 0 1px 0 0 $primary-s3;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23#{$Sprimary-s3}%3B' /%3E%3C/svg%3E");
        }
    }

    #footer{

        .inner{
            .contact{
                span, a{
                    font-family: Raleway, Helvetica, sans-serif;
                    border: none;
                }
            }

            li::before{
                color: $secondary;
                font-size: 1.2rem;
                // margin-right: 10px;
            }

            i::before{
                color: $primary-2;
                font-size: 3rem;
                margin: 20px;
                transition: color 0.3s ease-in-out;
            }

            a:hover{
                i::before{
                    color: $secondary;

                }
            }
        }

        #simple_logo{
            display: flex;
            justify-content: center;
            align-items: start;
            width: 100%;

            img{
                max-width: 200px;
                width: 80%;
            }
        }

        #social{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            a{
                border: none;
            }
        }
    }
    
}